@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600&family=Playfair+Display:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #0A0A0A;
  color: #EFEFEF;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}
